@font-face{
	font-family: Lobster;
	src: url('../fonts/Lobster 1.4.otf');
}
@font-face{
	font-family: Langdon;
	src: url('../fonts/Langdon.otf');
}
.header {
	width: 100%;
	padding: 10px 0;
	background-color: #3498db;
	overflow: hidden;
}
.header .webtitle {
	margin: 0;
	font-family: Lobster;
	color: #f1c40f;
	font-size: 30px;
}
.header .webtitle {
	text-shadow:1px 1px #2980b9,
2px 2px #2980b9,
3px 3px #2980b9,
4px 4px #2980b9,
5px 5px #2980b9,
6px 6px #2980b9,
7px 7px #2980b9,
8px 8px #2980b9,
9px 9px #2980b9,
10px 10px #2980b9,
11px 11px #2980b9,
12px 12px #2980b9,
13px 13px #2980b9,
14px 14px #2980b9,
15px 15px #2980b9,
16px 16px #2980b9,
17px 17px #2980b9,
18px 18px #2980b9,
19px 19px #2980b9,
20px 20px #2980b9,
21px 21px #2980b9,
22px 22px #2980b9,
23px 23px #2980b9,
24px 24px #2980b9,
25px 25px #2980b9,
26px 26px #2980b9,
27px 27px #2980b9,
28px 28px #2980b9,
29px 29px #2980b9,
30px 30px #2980b9,
31px 31px #2980b9,
32px 32px #2980b9,
33px 33px #2980b9,
34px 34px #2980b9,
35px 35px #2980b9;
}
.cart {
	font-size: 26px;
	color: #fff;
}
.cart a {
	font-family: Langdon;
	text-transform: uppercase;
	color: #fff;
}

/* banner */
.banner {
	width: 100%;
	height: 550px;
	padding: 50px 0;
	color: #fff;
}
.banner .banner-text {
	background-color: #27ae60;
	padding: 30px 50px 80px 50px;
}
.banner h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-family: Langdon;
}
.banner p {
	margin-bottom: 30px;
}
.banner a {
	color: #fff;
	padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 2px;
	transition:ease .4s;
	margin-bottom: 100px;
}
.banner a:hover{
	background-color: #1abc9c;
	text-decoration: none;
}

.popular {
	width: 100%;
	padding: 50px 0;
}
.popular-container {
	margin: 20px auto;
}
.popular h3, .lainnya h3 {
	font-family: Langdon;
	text-transform: uppercase;
	margin-top: 0;
}
.popular .detail, .lainnya .detail {
	padding: 5px 10px;
	text-transform: uppercase;
	color:#fff;
	background-color: #27ae60;
	font-family: Langdon;
}

.terbaru, .kategori, .shopcart {
	padding-bottom: 30px;
}
.terbaru .title {
	background-color: #2980b9;
	width: 100%;
	padding: 15px 0;
}
.terbaru .title h4, .kategori .title h4, .shopcart .title h4 {
	color: #fff;
	text-transform: uppercase;
	font-family: Langdon;
	margin: 0;

}

.item-container {
	border: 2px solid #ddd;
	border-bottom: 4px solid #2980b9;
	margin: 50px auto;
}
.item-content {
	width: 80%;
	margin: 30px auto;
	line-height: 30px;
	text-align: center;
}
.item-content h3 {
	font-family: Langdon;
	text-transform: uppercase;
}
.item-content .harga-front {
	font-family: Langdon;
	font-size: 24px;
	line-height: 30px;
	color: #666;
}
.item-content .detail {
	padding: 10px 20px;
	color: #fff;
	background-color: #2980b9;
	font-family: Langdon;
	text-transform: uppercase;
	margin-left: 20px;
}


.testimoni {
	text-align: center;
	padding: 100px 0;
	background-color: #c0392b;
	color: #fff;
}
.testimoni .title h2 {
	font-family: Langdon;
	text-transform: uppercase;
}
.testimoni .content {
	text-align: left;
}
.testimoni .image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #eee;
	float: right;
}
.testimoni p {
	font-style: italic;
}
.testimoni h5 {
	text-transform: uppercase;
	color: #fff;
	font-weight: bolder;
	margin-top: 20px;
	margin-bottom: 0;
}
.testimoni h6 {
	margin-top: 0;
	color: #f1c40f;
}
.isi-testimoni {
	margin: 30px auto;
}

.contact {
	text-align: center;
	padding: 100px 0;
	background-color: #2c3e50;
	color: #fff;
}
.contact .title h2 {
	text-transform: uppercase;
	font-family: Langdon;
	margin: 0;
}
.contact textarea {
	margin: 30px 0;
}
.kirim-pesan {
	padding: 10px 25px;
	background-color: #3498db;
	border-top: 0;
	border-left: 0;
	border-right: 2px solid #2980b9;
	border-bottom: 2px solid #2980b9;
	border-radius: 1px;
	text-transform: uppercase;
	font-family: Langdon;
	font-size: 20px;
	overflow: hidden;
}
.kirim-pesan:hover {
	background-color: #2980b9;
}

.produk {
	padding: 20px 0;
}

.detail-produk h2 {
	text-transform: uppercase;
	font-family: Langdon;
}
.detail-produk form {
	margin-bottom: 30px;
}
.comment-produk .title {
	color: #fff;
	background-color: #2980b9;
	padding: 10px 20px;
}
.comment-produk .title h4 {
	text-transform: uppercase;
	font-family: Langdon;
	margin: 0;
}
.isi-komentar .row {
	margin: 20px auto;
}
.isi-komentar .image {
	width: 80px;
	height: 80px;
	background-color: #34495e;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	vertical-align: center;
}
.isi-komentar .image span {
	color: #fff;
	font-size: 36px;
	line-height: 80px;
}
.isi-komentar .text {
	background-color: #34495e;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}
.isi-komentar .text:before{
	position: absolute;
	content: '';
	left: -18px;
	top: 0;
	border-top: 10px solid #34495e;
	border-right: 10px solid #34495e;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.isi-komentar strong {
	text-transform: uppercase;
}

.lainnya {
	margin-top: 
}
.lainnya .title {
	color: #fff;
	background-color: #2980b9;
	padding: 10px 20px;
	text-align: center;
}
.lainnya .lainnya-container:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 38px;
	border-top: 10px solid #2980b9;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	margin-left: -10px;
}
.lainnya .title h4 {
	text-transform: uppercase;
	font-family: Langdon;
	margin: 0;
}


.kategori .title, .shopcart .title {
	background-color: #e74c3c;
	width: 100%;
	padding: 15px 0;
}

.shopcart table {
	margin-top: 30px;
}
.shopcart table th {
	background-color: #27ae60;
	color: #fff;
}
.aksi {
	text-align: center;
}
.beli-btn, .kosong-btn {
	padding: 10px 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: langdon;
	border-radius: 2px;
}
.beli-btn:hover, .kosong-btn:hover {
	text-decoration: none;
	color: #fff;
}
.beli-btn {
	background-color: #3498db;
	border-right: 2px solid #2980b9;
	border-bottom: 2px solid #2980b9;
}
.beli-btn:hover {
	background-color: #2980b9;
}
.kosong-btn {
	background-color: #e74c3c;
	border-bottom: 2px solid #c0392b;
	border-right: 2px solid #c0392b;
}
.kosong-btn:hover {
	background-color: #c0392b;
}


.footer {
	background-color: #34495e;
	padding: 20px 0;
	text-align: center;
	color: #fff;
}
.footer h5 {
	font-weight: bold;
	font-size: 20px;
}
.fa-facebook, .fa-twitter, .fa-google-plus, .kirim-pesan, .btn-layanan {
	text-shadow:1px 1px rgba(0,0,0,.4),
	2px 2px rgba(0,0,0,.38),
	3px 3px rgba(0,0,0,.36),
	4px 4px rgba(0,0,0,.34),
	5px 5px rgba(0,0,0,.32),
	6px 6px rgba(0,0,0,.30),
	7px 7px rgba(0,0,0,.28),
	8px 8px rgba(0,0,0,.26),
	9px 9px rgba(0,0,0,.24),
	10px 10px rgba(0,0,0,.22),
	11px 11px rgba(0,0,0,.20),
	12px 12px rgba(0,0,0,.18),
	13px 13px rgba(0,0,0,.16),
	14px 14px rgba(0,0,0,.14),
	15px 15px rgba(0,0,0,.12),
	16px 16px rgba(0,0,0,.10),
	17px 17px rgba(0,0,0,.08),
	18px 18px rgba(0,0,0,.06),
	19px 19px rgba(0,0,0,.04),
	20px 20px rgba(0,0,0,.02);
}
.fa-facebook {
	padding: 10px 15px;
	color: #fff;
	background-color: #2980b9;
	overflow: hidden;
}
.fa-twitter {
	padding: 10px 15px;
	color: #fff;
	background-color: #3498db;
	overflow: hidden;
}
.fa-google-plus {
	padding: 10px 15px;
	color: #fff;
	overflow: hidden;
	background-color: #c0392b;
}
.footer .webtitle {
	color: #fff;
	font-family: Lobster;
}

table.data {
	font-weight: bold;
}
table.ijo th {
	background-color: #27ae60;
	color: #fff;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    color: #0b9f7a;
}
.scrollup i {
    font-size: 40px;
    line-height: 40px;
}
